
## RIL
allow rild radio_device:chr_file { getattr open read ioctl lock append write };
allow rild { efs_file }:file { getattr open read ioctl lock append write };
allow rild self:netlink_socket { create bind read write };
allow rild self:netlink_route_socket { write };

# Allow logging diagnostic items
allow rild diagnostic_device:chr_file { getattr open read ioctl lock append write };

# XXX label with own type?
allow rild sysfs:file { read open write getattr };
